.size-popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  &.-active {
    opacity: 1;
    pointer-events: all;
  }

  > .background {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.4;
  }

  > .content {
    position: relative;
    z-index: 2;
    background-color: var(--white);
    width: 90%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media('sm') {
      flex-direction: row;
    }
  }

  > .content .close {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
  }

  > .content .image {
    width: 100%;
    @include media('sm') {
      width: 50%;
    }
  }

  > .content .text-wrapper {
    width: 100%;
    padding: 1.5rem;

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
    }

    th {
      padding: 0.5rem;
      border-bottom: 1px solid var(--gray-2);
    }

    td {
      padding: 0.5em;
      border-bottom: 1px solid var(--gray-2);
      &:first-child { text-align: left }
    }
  }

  > .content .image + .text-wrapper {
    @include media('sm') {
      width: 50%;
    }
  }
}
